/.vs
/ADMISION.ENTITIES/bin
/ADMISION.ENTITIES/obj
/ADMISION/bin
/ADMISION/obj
/ADMISION/wwwroot/lib/*
!/ADMISION/wwwroot/lib/html5-qrcode/
!/ADMISION/wwwroot/lib/tabler-icons/
!/ADMISION/wwwroot/lib/toastify-js/
!/ADMISION/wwwroot/lib/inter/
ADMISION.ENTITIES/Class1.cs
ADMISION/appsettings.json
/ADMISION/wwwroot/uploads
/ADMISION/wwwroot/2026
/ADMISION/Properties/PublishProfiles
/BiometricBridge/.vs
/BiometricBridge/bin
/BiometricBridge/obj
/BiometricBridge/Properties/PublishProfiles
/muestra
/BiometricBridge/PublishInstaller
BiometricBridge/PublishInstaller/BiometricBridge_Setup.exe
ADMISION/ADMISION.csproj.user
BiometricBridge/BiometricBridge.csproj.user
/ADMISION/wwwroot/temp_imports
expediente_unificado_mockup.html
/ADMISION/DataProtection-Keys
